body{
  font-size: 14px;
  font-family: "Segoe UI Light"
}

h1{
  color:blue;
  font-size: 40px;
  font-family: "Segoe UI Light";

}
h1.header{
  color: red;
  font-size: 20px;
  font-style: "Arial";
  text-align: center;
}

#section1{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/80/Hyades.jpg);
}

#section2{
  background-color: #b796e8;
}

#bounce1{
  text-align: left;
}
#bounce2{
  text-align: center;
}
#bounce3{
  text-align: right;
}

.tables{
  text-align: left;
}

#food{
  width:200px;
  align-content:
}
